# Vision One AI App Guard
V1_API_KEY=
AI_GUARD_ENDPOINT=https://api.au.xdr.trendmicro.com/v3.0/aiSecurity/applyGuardrails
AI_GUARD_APP_NAME=ai-doc-analyzer

# AWS Bedrock
AWS_PROFILE=umatrenddemo
AWS_DEFAULT_REGION=ap-southeast-2
BEDROCK_MODEL_ID=au.anthropic.claude-sonnet-4-6
